<%= form_with(model: @menu, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

    <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%# <div class="field"> %>
    <%# <%= form.label :recipes %>
    <%# <%= form.collection_select :recipe_ids, Recipe.all, :id, :name, {}, multiple: true %>
  <%# </div> %>

    <div class="field">
      <%= form.label :tags %>
      <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name, {}, multiple: true %>
    </div>

    <div class="field">
      <%= form.label :ingredients %>
      <%= form.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name, {}, multiple: true %>
    </div>

  <div class="actions">
    <%= form.submit 'Create Menu' %>
  </div>
<% end %>
