<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Recipes:</strong>

  <% @menu.recipes.each do |recipe| %>
    <%= link_to "#{recipe.name}", recipe_path(recipe.id) %>
  <% end %>
</p>

<%= @menu_tags.each do |tag| %>
  <p><%= Tag.where(id: tag).first.name %></p>
<% end %>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>

<%= form_with(model: @menu, method: :delete, url: menu_path(@menu), data: { confirm: 'Are you sure?' }) do |form| %>
  <%= form.submit 'Destroy' %>
<% end %>
