<% @menu.recipes.each_with_index do |recipe, index| %>
  <h1>Menu day: <%= (index + 1) / @menu.meal_type.length %></h1>
  <% case recipe.meal_type %>
    <% when ["Breakfast"] %>
      <!-- Code for Breakfast -->
      <p>Breakfast: <%= link_to "#{recipe.name}", recipe_path(recipe.id) %></p>
    <% when ["Lunch"] %>
      <!-- Code for Lunch -->
      <p>Lunch: <%= link_to "#{recipe.name}", recipe_path(recipe.id) %></p>

    <% when ["Dinner"] %>
      <!-- Code for Dinner -->
      <p>Dinner: <%= link_to "#{recipe.name}", recipe_path(recipe.id) %></p>
  <% end %>
<% end %>

</p>
<h3>Tags included in menu</h3>
<% @menu_tags.each do |tag| %>
  <p><%= Tag.where(id: tag).first.name %></p>
<% end %>
<h3>All ingredients</h3>
<% @ingredients.each do |ingredient| %>
  <p><%= ingredient %></p>
<% end %>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>

<%= form_with(model: @menu, method: :delete, url: menu_path(@menu), data: { confirm: 'Are you sure?' }) do |form| %>
  <%= form.submit 'Destroy' %>
<% end %>
