<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>
<% raise %>

<p>
  <strong>Recipes:</strong>
<% @menu.recipes.each_with_index do |recipe, index| %>
  <% if index.even? %>
    <h1>Day: <%= (index / 2) + 1 %></h1>
    <h4>Lunch</h4>
  <% else %>
    <h4>Dinner</h4>
  <% end %>
  <%= link_to "#{recipe.name}", recipe_path(recipe.id) %>
<% end %>

</p>
<h3>Tags included in menu</h3>
<% @menu_tags.each do |tag| %>
  <p><%= Tag.where(id: tag).first.name %></p>
<% end %>
<h3>All ingredients</h3>
<% @ingredients.each do |ingredient| %>
  <p><%= ingredient %></p>
<% end %>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>

<%= form_with(model: @menu, method: :delete, url: menu_path(@menu), data: { confirm: 'Are you sure?' }) do |form| %>
  <%= form.submit 'Destroy' %>
<% end %>
