<div class="page">
  <div class="menu-show">
    <div class="menu-banner">
      <div>
        <h2><%= @menu.name %></h2>
        <p>Brief description of menu</p>
      </div>
      <div>
        <% @menu.days_planned.times do |i| %>
          <button class="btn-flat">
            Day <%= i + 1 %>
          </button>
        <% end %>
      </div>
    </div>



    <div>
      <div>
        <h3>Recipes for day X</h3>
        <div class="menu-recipe-list">
          <% @recipes.each_with_index do |recipe, index| %>
            <%= link_to recipe_path(recipe) do %>
              <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path recipe.photo.key, height: 300, crop: :fill %>
              <div style="background-color: black">
                Day <%= (index / @menu.meal_type.length).round + 1 %> | <%= recipe.name %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <div>
          <h3>Ingredients for todays recipes</h3>
        </div>
        <div>
          <h3>Specifications</h3>
          <div class="card-menu">
            <h4>Menu <%= @menu.id %></h4>
            <p>Days: <%= @menu.days_planned %></p>
            <div>
              <h5>Description</h5>
              <p><%= @menu.description %></p>
            </div>
            <div>
              <h5>Tags</h5>
              <p><%= @menu.tag_ids %></p>
            </div>
            <div>
              <h5>Meals included</h5>
              <p><%= @menu.meal_type.to_s %></p>
            </div>
            <div>
              <h5>Number of People</h5>
              <p>12 People</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= button_to "Delete Menu", @menu, method: :delete, class: "btn btn-flat" %>
  </div>
</div>
