<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Recipes:</strong>
  <%= @menu.recipes.map(&:name).join(', ') %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>

<%= form_with(model: @menu, method: :delete, url: menu_path(@menu), data: { confirm: 'Are you sure?' }) do |form| %>
  <%= form.submit 'Destroy' %>
<% end %>
