<div class="page">
  <% case @menu.meal_type.length %>
  <% when 3 %>
    <div class="cards menu-cards">
      <% @recipes.each_with_index do |recipe, index| %>
        <%= link_to recipe_path(recipe) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(recipe.photo.key, height: 300, width: 400, crop: :fill) %>)">
            Day: <%= (index/3 +1).ceil %> <%= recipe.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% when 2 %>
    <div class="cards menu-cards">
      <% @recipes.each_with_index do |recipe, index| %>
        <%= link_to recipe_path(recipe) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(recipe.photo.key, height: 300, width: 400, crop: :fill) %>)">
            Day: <%= (index/2 +1).ceil %> <%= recipe.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% when 1 %>
    <div class="cards menu-cards">
      <% @recipes.each_with_index do |recipe, index| %>
        <%= link_to recipe_path(recipe) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(recipe.photo.key, height: 300, width: 400, crop: :fill) %>)">
            Day: <%= (index +1).ceil %> <%= recipe.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <h3>All Ingredients</h3>
  <% @ingredients.each do |ingredient| %>
    <p><%= ingredient %></p>
  <% end %>



  <%= link_to menus_path, class: "btn btn-flat" do %>
    Back to all menus
  <% end %>
  <%= link_to edit_menu_path(@menu), class: "btn btn-flat" do %>
    Edit menu
  <% end %>
  <%= button_to @menu, method: :delete , class: "btn btn-flat" do %>
    Delete this menu
  <% end %>
</div>
