
<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :instructions %>
    <%= f.input :prep_time %>
    <%= f.input :cook_time %>
    <%= f.association :user %>

    <div class="field">
      <%= f.label :tag_ids, 'Tags' %>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :ingredient_ids, 'Ingredients' %>
      <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
