<h4>hi there</h4>
<% Ingredient.all.each do |ingredient| %>
  <div>
    <%= check_box_tag 'recipe[ingredient_ids][]', ingredient.id %>
    <%= ingredient.name %>
  </div>
<% end %>
<%= form_with url: ingredients_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a keyword"
    %>
  <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
<% end %>
