<div class="utilities-container">
  <%= render partial: 'recipe_search_form' %>
  <%= link_to new_recipe_path, class: "btn btn-flat" do %>
    New Recipe
  <% end %>
</div>
<div class="cards">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe.id) do %>
      <%= render recipe %>
    <% end %>
  <% end %>
</div>


<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-flat">Add a new recipe</button>

  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "form", recipe: @recipe %>
  </div>

</div>
