<div class="page">
  <%= link_to recipes_path, class: "btn btn-flat" do %>
    Back to all Recipes
  <% end %>
  <div class="recipe-card-container">
    <div class="recipe-card">
      <div>
        <h2><%= @recipe.name %></h2>
        <br/>
        <p><%= @recipe.description %></p>
      </div>
    </div>
    <div class="recipe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @recipe.photo.key, height: 300, crop: :fill %>')">
    </div>
    <div class="recipe-card">
      <div>
        <h3>Instructions</h3>
        <p class="recipe-data text"><%= @recipe.instructions %></p>
      </div>
    </div>
    <div class="recipe-card">
      <div style="width: 100%">
        <h3>Ingredients</h3>
        <div class="recipe-data">
          <% @recipe.recipe_ingredients.each do |ingredient| %>
            <div class="ingredients-container">
              <p class="col-6"><%= Ingredient.find(ingredient.ingredient_id).name %></p>
              <p class="col-3" id="ingredient-quantity"><%= ingredient.quantity % 1 == 0 ? ingredient.quantity.to_i : ingredient.quantity %></p>
              <p class="col-3" style="text-align: left"><%= ingredient.unit_of_measure %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="recipe-card">
      <div>
        <h3>Linked recipes</h3>

        <br/>

        <div class="linked-recipes-container">
          <% @recipe.included_recipes.each do |recipe| %>
            <% if recipe.present? %>
              <div class="card-category">
                <%= link_to recipe, recipe_path(Recipe.where(name: recipe).first.id) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="recipe-card">
      <div>
        <h3>Tags</h3>

        <% @recipe.tags.each do |tag| %>
          <p><%= tag.name %></p>
        <% end %>
        <h3>Meal Type</h3>
        <p><%= @recipe.meal_type.join(" | ") %></p>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 50px">
    <%= link_to recipes_path, class: "btn btn-flat" do %>
      Back to all Recipes
    <% end %>
  </div>
</div>
