<div class="page">
  <div class="recipe-show">
    <div class="dashboard-panel ">
      <div class="recipe-show-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= @recipe.name %>
      </div>
      <div class="recipe-show-data-container">
        <div class="recipe-show-content">
          <p><%= @recipe.description %></p>

          <div>
            <h3>Ingredients</h3>
            <% @recipe.recipe_ingredients.each do |ingredient| %>
              <ul class="ingredients-container">
                <li id="ingredient-quantity"><%= ingredient.quantity % 1 == 0 ? ingredient.quantity.to_i : ingredient.quantity %> <%= ingredient.unit_of_measure %> - <%= Ingredient.find(ingredient.ingredient_id).name %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="recipe-show-spec">
          <div>
            <h3>Method</h3>
            <p><%= @recipe.instructions %></p>
          </div>
          <h3>Specifications</h3>
          <div class="card-menu">
            <h4>Menu <%= @recipe.id %></h4>
            <p class="time"><i class="clock-icon fa-regular fa-clock"></i> Prep time: <%= @recipe.prep_time %> mins</p>
            <p class="time"> Cook time: <%= @recipe.cook_time %> mins</p>
            <div>
              <h5>Tags</h5>
              <% @recipe.tags.each do |tag| %>
                <p><%= tag.name %></p>
              <% end %>
            </div>
            <div>
              <h5>Meals included</h5>
              <p><%= @recipe.meal_type.join(" | ") %></p>
            </div>
            <div>
              <h5>Number of People</h5>
              <p># People</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recipe-show-footer">
      <div class="dashboard-panel recipe-photos">
        <h3>Photos</h3>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="">
      </div>
      <div class="dashboard-panel video-panel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg); margin-bottom: 0;">
        Watch Video Tutorial
      </div>
    </div>
  </div>
