<div class="page">
  <div class="recipe-show-container">
    <div class="cards">
      <%# <%= link_to edit_recipe_path(@recipe), class: "btn btn-flat" do %>
        <%# Edit recipe %>
      <%# <% end %>
    </div>
    <div class="row">
      <div class="col-3">
        <%= render @recipe %>

        <%= link_to recipes_path, class: "btn btn-flat" do %>
          Back to all Recipes
        <% end %>
      </div>

      <div class="col-7">
        <h2><%= @recipe.name %></h2>
        <p><%= @recipe.description %></p>

        <div class="recipe-information">
          <div class="card">
            <h3>Ingredients</h3>
            <div class="recipe-data">
              <% @recipe.recipe_ingredients.each do |ingredient| %>
                <div class="ingredients-container">
                  <p class="col-6"><%= Ingredient.find(ingredient.ingredient_id).name %></p>
                  <p class="col-4" id="ingredient-quantity"><%= ingredient.quantity % 1 == 0 ? ingredient.quantity.to_i : ingredient.quantity %></p>
                  <p class="col-2" ><%= ingredient.unit_of_measure %></p>
                </div>
              <% end %>
            </div>
          </div>

          <div class="card">
            <h3>Instructions</h3>
            <p class="recipe-data text"><%= @recipe.instructions %></p>
          </div>
        </div>
      </div>

      <div class="col-2 card">
        <h3>Tags</h3>
        <% @recipe.tags.each do |tag| %>
          <p><%= tag.name %></p>
        <% end %>
        <h3>Meal Type</h3>
        <p><%= @recipe.meal_type %></p>
      </div>

    </div>
  </div>
</div>
