<div class="recipes">
  <%= render @recipe %>
<div>

<p class="text"><%= @recipe.description %></p>
<br/>
<h3>Instructions</h3>
<p class="text"><%= @recipe.instructions %></p>

<h3>Course</h3>
<p><%= @recipe.meal_type.join(", ") %></p>
<h3>Tags</h3>
<% @recipe.tags.each do |tag| %>
  <p><%= tag.name %></p>
<% end %>
<h3>Ingredients</h3>
<% @recipe.recipe_ingredients.each do |ingredient| %>
  <p><%= Ingredient.find(ingredient.ingredient_id).name %></p>
  <p><%= ingredient.quantity %></p>
  <p><%= ingredient.unit_of_measure %></p>
<% end %>

<div class="cards">
  <%= link_to recipes_path, class: "btn btn-flat" do %>
    Back to all Recipes
  <% end %>
  <%= link_to edit_recipe_path(@recipe), class: "btn btn-flat" do %>
    Edit recipe
  <% end %>
  <%# <%= button_to @recipe, method: :delete , class: "btn btn-flat" do %>
    <%# Delete this Recipe %>
  <%# <% end %>
</div>
