<div class="recipes">
  <p style="color: green"><%= notice %></p>

  <%= render @recipe %>

  <div>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "button" %>
    <%= link_to "Back to recipes", recipes_path, class: "button" %>

    <%= button_to "Destroy this recipe", @recipe, method: :delete, class: "button" %>
  </div>
  <h3>Tags</h3>
  <% @recipe.tags.each do |tag| %>
    <p><%= tag.name %></p>
  <% end %>
  <h3>Ingredients in this dish</h3>
  <% @recipe.ingredients.each do |ingredient| %>
    <p><%= ingredient.name %></p>
  <% end %>
</div>
