<div class="page">
  <div class="recipe-show">
    <%= link_to recipes_path do %>
      <button class="btn back-btn">
        <i class="fa-solid fa-arrow-left"></i> Back to Recipes
      </button>
    <% end %>
    <div class="dashboard-panel ">
      <div class="recipe-show-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= @recipe.name %>
      </div>
      <div class="recipe-show-data-container">
        <div class="recipe-show-content">
          <p><%= @recipe.description %></p>

          <div>
            <h3>Ingredients</h3>
            <% @recipe.recipe_ingredients.each do |ingredient| %>
              <ul class="ingredients-container">
                <li id="ingredient-quantity"><%= ingredient.quantity % 1 == 0 ? ingredient.quantity.to_i : ingredient.quantity %> <%= ingredient.unit_of_measure %> - <%= Ingredient.find(ingredient.ingredient_id).name %></li>
              </ul>
            <% end %>
          </div>
          <div>
            <h3>Method</h3>
            <p><%= @recipe.instructions %></p>
          </div>
        </div>
        <div class="recipe-show-spec">
          <h3>Specifications</h3>
          <div class="card-menu">
            <div class="spec-subsection">
              <h5>Cook Time</h5>
              <div class="tag-box">
                <i class="clock-icon fa-regular fa-clock"></i> <%= @recipe.cook_time %> mins
              </div>
            </div>
            <div class="spec-subsection">
              <h5>Prep Time</h5>
              <div class="tag-box">
                <i class="clock-icon fa-regular fa-clock"></i> <%= @recipe.prep_time %> mins
              </div>
            </div>
            <div class="spec-subsection">
              <h5>Tags</h5>
              <% @recipe.tags.each do |tag| %>
              <div class="tag-box">
                <%= tag.name %>
              </div>
              <% end %>
            </div>
            <div class="spec-subsection">
              <h5>Meal type</h5>
              <div class="tag-box">
                <%= @recipe.meal_type.join(" | ") %>
              </div>
            </div>
            <div class="spec-subsection">
              <h5>Number of People</h5>
              <div class="tag-box">
                # People
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recipe-show-footer">
      <div class="dashboard-panel recipe-photos">
        <h3>Photos</h3>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="">
      </div>
      <div class="dashboard-panel video-panel" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg); margin-bottom: 0;">
        Watch Video Tutorial
      </div>
    </div>
  </div>
