<div class="page">

  <p style="color: green"><%= notice %></p>

  <h1>Favourites</h1>
  <% if Favourite.find_by(user_id: current_user).present? %>

  <div id="favourites">
    <% @favourites.each do |favourite| %>
      <%= render favourite %>
      <p>
        <%= link_to "Show this favourite", favourite %>
      </p>
    <% end %>
  </div>

  <%= link_to "New favourite", new_favourite_path %>
  <% else %>
    <%= link_to "No recipes added, add recipes from here", recipes_path %>
  <% end %>
</div>
