<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dfipoufmj/image/upload/v1721051487/Untitled_Project_21_mfwvlq.png", class: "logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="nav-item-sub-container">
              <%= link_to "/dashboard", class: "nav-link" do %>
                Dashboard
              <% end %>
            </div>
          </li>
          <li class="nav-item active">
            <div class="nav-item-sub-container">
              <%= link_to "Recipes", "/recipes", class: "nav-link" %>
            </div>
          </li>
          <li class="nav-item active">
            <div class="nav-item-sub-container">
              <%= link_to "Menus", "/menus", class: "nav-link" %>
            </div>
          </li>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
            <button class="btn-flat" href="/dashboard">
              Log out
            </button>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "About Us", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "/", class: "nav-link" %>
          </li>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Pricing & Plans", "/", class: "nav-link" %>
          <%# </li> %>
          <%= link_to new_user_session_path, class: "nav-item" do %>
            <button class="btn-flat" href="/dashboard">
              Log in
            </button>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
