<div class="page">
  <p style="color: green"><%= notice %></p>

  <h1>Ingredients</h1>
  <%= render "ingredient_search_form" %>

  <div id="ingredients" class="cards" >
    <% if @ingredients.exists? %>
      <% @ingredients.each do |ingredient| %>
        <%= link_to ingredient_path(ingredient.id) do %>
          <%= render ingredient %>
        <% end %>
      <% end %>
    <% else %>
      <p>No ingredients found</p>
    <% end %>
  </div>

  <%= link_to "New ingredient", new_ingredient_path %>
</div>
