<p style="color: green"><%= notice %></p>

<h1>Ingredients</h1>
<%= render "ingredient_search_form" %>

<div id="ingredients">
  <% if @ingredients.exists? %>
    <% @ingredients.each do |ingredient| %>
      <%= render ingredient %>
      <p>
        <%= link_to "Show this ingredient", ingredient %>
      </p>

    <% end %>
  <% else %>
    <p>No ingredients found</p>
  <% end %>
</div>

<%= link_to "New ingredient", new_ingredient_path %>
