<div class="page">
  <h2>Good morning, <%= current_user.email %></h2>
  <p>
    Please edit your profile
  </p>

  <div class="dashboard-content">
    <div class="dashboard-left">
<div class="dashboard-favourite-recipes">
  <h3>Favourite Recipes</h3>
  <% if recipes = Recipe.all.sample(3) %>
    <% recipes.each do |recipe| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= recipe.name %></h2>
          <p><%= recipe.description %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No favourite recipes available.</p>
  <% end %>

  <p>Show more</p>
</div>


      <div class="dashboard-recipes">
        <h3>Recipes</h3>
        <p>Show more</p>
      </div>
    </div>

    <div class="dashboard-right">
      <div class="dashboard-menu-plans"></div>
      <div class="dashboard-subscription-banner"></div>
      <div class="dashboard-socials"></div>
    </div>
  </div>

  <div class="cards">

    <%= link_to recipes_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1689253823/production/ndaidlm5c2jdlwv17k1knq3mtcs3.jpg)">
          Recipes
      </div>
    <% end %>

    <%= link_to menus_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1711457480/development/ft2ujru7qgg1d980ej4ccr565icn.jpg)">
          Menus
      </div>
    <% end %>

    <%= link_to ingredients_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Ingredients
      </div>
    <% end %>

  </div>
</div>
