<div class="page">
  <div class="dashboard">
    <button onclick="window.history.back();" class="btn back-btn">
      <i class="fa-solid fa-arrow-left"></i> Back
    </button>
    <h2>Good morning, <%= current_user.email %></h2>
    <p>
      Welcome to your dashboard, manage everything from here
    </p>

    <div class="dashboard-content">
      <div class="dashboard-left">
        <%# <div class="dashboard-panel dashboard-favourite-recipes">
        </div> %>


        <div class="dashboard-panel dashboard-recipes" style="margin-bottom: 20px">
          <h3>All Recipes</h3>
          <div class="recipes-grid">
            <% if recipes = Recipe.all.sample(3) %>
              <% recipes.each do |recipe| %>
                <%= link_to recipe_path(recipe) do %>
                  <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                      <h2><%= recipe.name %></h2>
                      <p><%= recipe.description %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <p>No favourite recipes available.</p>
            <% end %>
          </div>
          <%= link_to recipes_path do %>
            <p class="show-more-btn">Show more <i class="fa-solid fa-arrow-up-right-from-square" style="color: #F80956"></i></p>
          <% end %>
        </div>

        <div class="dashboard-panel dashboard-recipes">
          <h3>Favourite Recipes</h3>
          <div class="recipes-grid">
            <% if (favourite = Favourite.find_by(user_id: current_user.id)) && favourite.recipes.present? %>
              <% favourite.recipes.sample(3).each do |recipe| %>
                <%= link_to recipe_path(recipe) do %>
                  <div class="card-product">
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                    <div class="card-product-infos">
                      <h2><%= recipe.name %></h2>
                      <p><%= recipe.description %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <p>No favourite recipes available.</p>
            <% end %>
          </div>
          <%= link_to favourite_path((Favourite.find_by(user_id: current_user.id)).id) do %>
            <p class="show-more-btn">Show more <i class="fa-solid fa-arrow-up-right-from-square" style="color: #F80956"></i></p>
          <% end %>
        </div>
      </div>

      <div class="dashboard-right">
        <div class="dashboard-panel dashboard-menu-plans">
          <h3>Menu Plans</h3>
          <% if menus = Menu.first(2) %>
            <% menus.each do |menu| %>
              <%= link_to menu_path(menu) do %>
                <div class="card-menu">
                  <div class="menu-plan-header">
                    <h4>Menu <%= menu.id %></h4>
                    <p class="days-box"><i class="fa-solid fa-calendar-days"></i> <%= menu.days_planned %> days</p>
                  </div>
                  <div class="menu-plan-container">
                    <div>
                      <h5>Dietary requirements</h5>
                      <div class="tag-box-alt">
                        Diet X
                      </div>
                      <div class="tag-box-alt">
                        Diet Y
                      </div>
                      <div class="tag-box-alt">
                        Diet Z
                      </div>
                    </div>
                    <div>
                      <h5>Added Tags</h5>
                      <div class="tag-box">
                        Tag X
                      </div>
                      <div class="tag-box">
                        Tag Y
                      </div>
                    </div>
                    <div>
                      <h5>Meals included</h5>
                      <div class="tag-box">
                        Breakfast, Lunch, Dinner
                        <%# <%= menu.meal_type.join(', ') %>
                      </div>
                    </div>
                    <div>
                      <h5>Number of People</h5>
                      <div class="tag-box">
                        # People
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <h3>No menus to display yet</h3>
          <% end %>
          <%= link_to new_menu_path do %>
            <button class="btn-flat">
              ADD A NEW MENU PLAN | <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button>
          <% end %>
          <%= link_to menus_path do %>
            <button class="btn-flat">
              ALL MENUS | <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button>
          <% end %>
        </div>
        <div class="dashboard-subscription-banner">
          <div class="card-product subscription-banner">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" style="width: 180px"/>
            <div class="card-product-infos">
              <h2>This is our BETA version</h2>
              <p style="margin-bottom: 20px">Follow us on social media to track our progess. We will be releasing new <strong>recipes and features</strong> weekly. Thanks for your continued support!</p>
              <button class="btn-flat" href="/dashboard">
                Follow us | <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="dashboard-panel dashboard-socials">
          <h4>Follow us on</h4>
          <a href="#"><img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1721120829/Instagram_1_eymmmh.png" class="social-media-icon" alt="insta-icon"></a>
          <a href="#"><img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1721120829/X_rgv3zw.png" class="social-media-icon" alt="x-icon"></a>
          <a href="#"><img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1721120829/Facebook_1_xu71yt.png" class="social-media-icon" alt="fb-icon"></a>
        </div>
        <div class="dashboard-video"></div>
      </div>
    </div>

</div>
