<div class="dashboard">
  <h1>Dashboard</h1>
  <p>Unleash your inner food genius: Because managing your food brain from here is too important to be bland!</p>
  <div class="dashboard-container">
    <div>
      <%= link_to favourites_path do %>
        <div class="dashboard-card">
          <h3>Favourites</h3>
        </div>
      <% end %>
      <%= link_to recipes_path do %>
        <div class="dashboard-card">
          <h3>Your recipes</h3>
        </div>
      <% end %>

      <%= link_to edit_user_registration_path do %>
        <div class="dashboard-card">
          <h3>Edit Account</h3>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to menus_path do %>
        <div class="dashboard-card">
          <h3>Menu Plans</h3>
        </div>
      <% end %>
      <%= link_to recipes_path do %>
        <div class="dashboard-card">
          <h3>All recipes</h3>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="dashboard-card">
          <h3>Follow us</h3>
        </div>
      <% end %>
    </div>

  </div>
</div>
